@use 'base';

body {
   background: rgb(38, 38, 38);
   color: aliceblue;
   margin-inline: auto;
   max-height: 100vh;
   overflow: hidden;
}
.video-co {
   background: #000;
   display: flex;
   flex-flow: column;
   align-items: center;
}
iframe {
   display: block;
}
.container {
   max-height: 100vh;
   display: flex;
   gap: 1rem;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-inline: auto;
}

video {
   width: 100%;
}
.lvp {
   width: 100%;
   position: relative;
   max-width: 900px;
   &__controls {
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      gap: 0.5rem;
      padding-block-end: 0.5rem;
      width: 100%;
      background: #000;
      // flex-wrap: wrap;
      // flex-direction: row;
   }

   &__caption {
      font-weight: 400;
      letter-spacing: 0.5px;
   }

   &__caption span:hover {
      background: rgb(255, 251, 121);
      color: #000;
      cursor: pointer;
   }

   &__captions {
      width: 100%;
      min-height: 3rem;
      // position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      padding: 0.5rem;
      color: hsl(0, 0%, 95%);
      background: hsl(0, 0%, 5%);
      font-family: system-ui;
   }

   &__progress {
      width: 100%;
      border: none;
      display: block;
      margin-block-end: 0.5rem;
   }
   &__progress-container {
      grid-column: 1/25;
      grid-row: 1;
   }

   &__button {
      // display: inline;
      // padding-inline: 0.5rem;
   }

   &__play-pause {
      grid-column: 13;
      grid-row: 2;
   }

   &__subtitles {
      grid-column: 22;
      grid-row: 2;
   }

   &__fullscreen {
      grid-column-start: 23;
      grid-row: 2;
   }

   &__rewind {
      grid-column-start: 14;
      grid-row: 2;
   }

   &__forward {
      grid-column-start: 12;
      grid-row: 2;
   }
   // &__button {
   //    grid-column: 1/9;
   //    grid-row: 2;
   //    // display: grid;
   // }
   .box > *:first-child {
      align-self: stretch;
   }

   &__controls button {
      background: none;
      border: none;
      cursor: pointer;
      width: fit-content;
   }
}

h1 {
   background: linear-gradient(to right, #f12711, #f5af19);
   color: transparent;
   background-clip: text;
}

.lvp__play-pause::before {
}

.controls button[data-state='subtitles'] {
   height: 85%;
   text-indent: 0;
   font-size: 16px;
   font-size: 1rem;
   font-weight: bold;
   color: #666;
   background: #000;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
}

div[data-fullscreen='true'] {
   max-width: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   max-height: 100%;
}

div[data-fullscreen='true'] video {
   height: -webkit-fill-available;
}

/* subtitles menu */
.subtitles-menu {
   display: none;
   position: absolute;
   bottom: 14.8%;
   right: 20px;
   background: #666;
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100px;
   padding: 10px;
}
.subtitles-menu li {
   padding: 0;
   text-align: center;
}
.subtitles-menu li button {
   border: none;
   background: #000;
   color: #fff;
   cursor: pointer;
   width: 90%;
   padding: 2px 5px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
}

:root {
   --e: #000;
}
.m {
   color: var(--e);
   display: flex;
}
