/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
   --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
   --space-2xs: clamp(0.5rem, calc(0.48rem + 0.12vw), 0.56rem);
   --space-xs: clamp(0.75rem, calc(0.7rem + 0.24vw), 0.88rem);
   --space-s: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
   --space-m: clamp(1.5rem, calc(1.43rem + 0.37vw), 1.69rem);
   --space-l: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
   --space-xl: clamp(3rem, calc(2.85rem + 0.73vw), 3.38rem);
   --space-2xl: clamp(4rem, calc(3.8rem + 0.98vw), 4.5rem);
   --space-3xl: clamp(6rem, calc(5.71rem + 1.46vw), 6.75rem);

   /* One-up pairs */
   --space-3xs-2xs: clamp(0.25rem, calc(0.13rem + 0.61vw), 0.56rem);
   --space-2xs-xs: clamp(0.5rem, calc(0.35rem + 0.73vw), 0.88rem);
   --space-xs-s: clamp(0.75rem, calc(0.6rem + 0.73vw), 1.13rem);
   --space-s-m: clamp(1rem, calc(0.73rem + 1.34vw), 1.69rem);
   --space-m-l: clamp(1.5rem, calc(1.21rem + 1.46vw), 2.25rem);
   --space-l-xl: clamp(2rem, calc(1.46rem + 2.68vw), 3.38rem);
   --space-xl-2xl: clamp(3rem, calc(2.41rem + 2.93vw), 4.5rem);
   --space-2xl-3xl: clamp(4rem, calc(2.93rem + 5.37vw), 6.75rem);

   /* Custom pairs */
   --space-s-l: clamp(1rem, calc(0.51rem + 2.44vw), 2.25rem);
}
