.site-header {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 60px;
   padding: 0.5rem 0;
   background: var(--clr-dark);
   font-size: var(--step-0);

   &__skip-nav {
      position: absolute;
      color: #000;
      background: var(--clr-light);
      padding: 1.5rem 2rem;
      top: 0;
      left: 50%;
      border-radius: 0 0 1rem 1rem;
      text-decoration: none;
      transform: translate(-50%, -105%);
      transition: transform 0.1s ease;

      &:focus {
         transform: translate(-50%, 0);
      }
   }

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo-container {
      min-width: fit-content;
   }
   &__logo-a {
      font-size: var(--step-2);
      font-weight: 500;
      color: var(--clr-light);

      text-decoration: none;
   }
}
